<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Parallel Execution">
    <test name="Scenario 1">
        <classes>
            <class name="com.example.YourCucumberTestRunner1" />
        </classes>
    </test>
    <test name="Scenario 2">
        <classes>
            <class name="com.example.YourCucumberTestRunner2" />
        </classes>
    </test>
    <!-- Add more <test> sections for additional scenarios -->
</suite>